
img {
    width: 300px;
    margin-right: 20em;
    border-radius: 1em;
    border-style: solid;
    border-color: darkred;
  }

  body {
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
    padding: 0;
    padding-top: 0;
    margin: 0;
    text-align: center;
    color: rgb(219, 20, 86);
    
    
}

p {
color: palevioletred;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 20px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20rem;
    color: blueviolet;
    margin-left: 40%;
    border-color: crimson;
    border-style: groove;
}

.image {
    margin-left: 80%;
    
}

h1 {
font-size: 150px;
color: rebeccapurple;


}